body {
	padding: 0;
	margin: 0;
}

header {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	position: fixed;
	top: 0;
	background-color: #fff;
}

.main-logo {
	display: block;
	width: 120px;
	height: 24px;
	margin: 70px 70px 0px 70px;
}

.nav {
	margin: 75px 70px 0 0;
	text-transform: uppercase;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 500px;
}

.nav a {
	text-decoration: none;
	color: #626262;
}

