.wrapper {
	width: 100%;
	height: 500px;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square {
	width: 100px;
	height: 300px;
	/*background-color: yellow;*/
	/*box-shadow: 1px 1px 5px 1px black;*/
	font-size: 25px;
	color: transparent;
	text-shadow: 2px 0px 2px black;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: solid 1px #000;
	box-sizing: border-box;
	background: linear-gradient(180deg, red 50px, orange, blue 50px)
}

.wrapper2 {
	width: 100%;
	height: 500px;
	background-color: green;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.square2 {
	width: 100px;
	height: 100px;
	background: #fff;
	transition: 3s all cubic-bezier(.19,.89,.76,.93);
}

.square2:first-child:hover{
	transform: translate(20px, -30px);
}

.square2:first-child+.square2:hover {
	/*transform: rotate(45deg);*/
	background-color: rgba(130, 170, 50, 0.7);
}

.square2:nth-child(100n + 3):hover{
	transform: scale(2);
	opacity: 0.03;
}

.square2:nth-child(100n + 4):hover{
	transform: skewX(135deg);
}

.square2:nth-child(100n + 5):hover{
	transform: skewY(135deg);
}

.square2:last-child:hover{
	transform: rotateZ(130deg);
	transform: rotateX(50deg);
	transform: rotateY(30deg);
}
