body {

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    color: rgb(51, 51, 54);
    font-size: 32px;
    font-family: Geneva, Verdana, sans-serif;
    font-weight: 600;
    background-color: rgb(165, 177, 255);
  
    .logo {
      img {
        height: 50px;
      }
    }
  }
  
    padding: 0;
    margin: 0;
    background-color: rgba(210, 223, 231, 0.795);
    font-family: Geneva, Verdana, sans-serif;
    color: #333;
  
    .main-container {
      width: 100%;
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
  
      .left-side-block, .right-side-block {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
  
      }
      .left-side-block {
        .img-box {
          img:first-child {
            height: 100px;
            cursor: pointer;
  
          }
    
          .del {
            cursor: pointer;
            height: 50px;
          }
        }
  
  
  
        .shop-list {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 20px 0;
  
          img {
            padding: 5px;
            height: 80px;
            border: solid 2px rgb(134, 176, 206);
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
          }
  
          img:hover {
            background-color: rgb(165, 177, 255);
          }
        }
  
  
        .shop-list-hide {
          display: none;
        }
        
        h1 {
          color: #555;
          font-size: 32px;
        }
        
        p {
          color: #555;
          font-family: Arial, sans-serif;
          font-size: 18px;
          strong {
            color: rgb(70, 70, 190);
          }
        }
      }
  
  
      .right-side-block {
        .list-heading {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          font-size: 11px;
          font-weight: 400;
          color: #999;
  
          div {
            display: flex;
            flex-direction: row;
            
            .quantityt-heading {
              width: 30px;
              padding: 0 15px;
            }
          }
        }
  
        ul {
          width: 100%;
          padding: 0;
  
  
  
      
          li.row {
            width: 100%;
            background-color: #ffffff;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            -webkit-box-shadow: 0px 0px 1px 1px rgba(140,140,140,1);
            -moz-box-shadow: 0px 0px 1px 1px rgba(140,140,140,1);
            box-shadow: 0px 0px 1px 1px rgba(140,140,140,1);
            border-radius: 2px;
            margin: 10px 0px;
            
            .quantity {
              color: rgb(134, 134, 223);
              font-weight: 900;
              padding: 0 15px;
              width: 30px;
              font-family: Arial, sans-serif;
              font-size: 20px;
            }
  
            .item-name {
              color: #777;
              font-weight: 600;
              width: 80%;
              font-size: 20px;
            }
            
            
            
            .price {        
              color: #777;
              font-weight: 600;   
              padding: 0 10px;   
              font-size: 20px;
            }
  
            
            .popbtn {
              color: #777;
              font-weight: 600;
              display: flex;
              cursor: pointer;
              
              img {
                height: 24px;
                padding: 15px 10px;
                z-index: 0;
                background-color: rgb(185, 196, 231);
              }
            }  
  
            .popbtn:hover {
              img {
                background-color: rgba(226, 127, 102, 0.905);
              }
            }
          }
        }
  
        .finish {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          font-size: 18px;
          font-weight: 600;
          color: #777;
  
          div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
  
            .tot-price {
              padding: 0px 20px;
              z-index: -2;
            }
  
          }
  
          .order {
            background-color: rgba(130, 216, 147, 0.979);
            padding: 10px 20px;
            border-radius: 5px;
            border: solid 2px rgb(64, 160, 64)
          }
  
          .order:hover {
            background-color: rgba(42, 190, 71, 0.979);
            color: #333;
            cursor: pointer;
          }
        }
  
  
        .cart-item-tmpl {
          display: none;
        }
  
      }
    }
  }