body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

header {
    width: 100%;
    height: 50px;
    background-color: #005691;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

main {
    width: 100%;
    margin-top: 25px;

    nav {
        margin-left: 100px;

        p {
            color: #f06292;
            margin-left: 50px;
        }

        span {
            color: black;
        }
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 200px;
        margin-left: 200px;

        input {
            background-color: #ff6c00;
            color: white;
            width: 175px;
            height: 40px;
            font-size: 16px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            outline: none;
        }
        
        input:hover {
            transform: scale(1.5);
            transition: 1s;
        }
    }

    img {
        width: 100%;
    }
}

footer {
    margin-top: 25px;
    width: 100%;
    height: 25px;
    background-color: #005691;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    div {
        height: 20px;
    }

    span {
        font-size: 10px;
    }
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    margin-left: 15px;

    a {
        text-decoration: none;
        color: white;
    }
}

li:first-child {
    margin-left: 0px;
    width: 150px;
}

span {
    color: white;
}

label {
    cursor: pointer;
}

.quiz {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

   .input-result {
        background-color: #40a440;
        color: white;
        width: 175px;
        height: 40px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        outline: none;
        font-size: 14px;
    }

    .input-result:hover {
        background-color: #005691;
        transition: 0.5s;
    }

    p {
        text-align: justify;
        width: 50%;
    }

    p.attraction {
        font-weight: bold;
        text-align: center;
    }
    
    div {
        width: 66%;
        height: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: #dbdbdb;

        label {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center; 
            font-size: 18px;
            
            input {          
                width: 35px;
                height: 35px; 
                cursor: pointer;   
            }
        
            input:hover {
                transform: none;
                background-color: #fff;
            }
        }
        

    }

    .h1 {
        width: 75%;
    }

    .question {
        color: #4584af;
    }  

    img {
        margin-bottom: 25px;
        width: 33%;
    }
}

@media (max-width: 768px) {
    main {
        article {
            margin-left: 100px;
            margin-right: 100px;
        }

        nav{
            margin-left: 30px;
            p {
                margin-left: 20px;
            }
        }
    }

    header {
        font-size: 12px;
    }

    li {
        list-style-type: none;
        margin-left: 15px;
    }
    
    li:first-child {
        margin-left: 0px;
        width: 100px;
    }

    .quiz {
        img {
            width: 50%;
        }

        div {
            label {
                font-size: 14px;
            }
        }
    }

    .question {
        width: 66%;
    }
}

@media (max-width: 480px) {
    main {
        article {
            margin-left: 75px;
            margin-right: 75px;
        }

        nav{
            margin-left: 30px;
            p {
                margin-left: 20px;
            }
        }
    }

    h2 {
        width: 66%;
    }

    header {
        height: auto;
        font-size: 10px;
    }

    li {
        list-style-type: none;
        margin-left: 5px;
    }
    
    li:first-child {
        margin-left: 0px;
        width: 75px;
    }

    .quiz {
        div {
            width: 90%;
        }

        p {
            width: 75%;
        }

        img {
            width: 75%;
        }
    }
}

@media (max-width: 360px) {

    li:first-child {
        margin-left: 0;
        width: 40px;
    }

    main {
        article {
            margin-left: 35px;
            margin-right: 35px;
        }
    }
}
